h1
{font-family: arial, sans-serif;
font-size:600%;
color:#ffffff;
}

body
{color:#ffffff;
line-height: 75px}
h2
{font-family: arial;
font-weight: bold;
text-transform: uppercase;
text-decoration: underline;
font-size: 250%
}
h1{
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	line-height: 50px;
}
p {
	line-height: 2.5px;
}
ul 
{
	line-height: 20px;
}
body{
	background-image: url("images/hex-677521_960_720.jpg");
}
img {
	float: center;
}
